#content{
    width: 90% !important;
}
.module-content{
    padding: 0px !important;
}
.data-comparision-module{
    padding: 40px 200px 20px 20px;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-right: 0 !important;
    margin-left: 0 !important;
   
}
.browes-btn-div{
    padding-top: 20px;
    padding-left: 20%;
}
.back-to-resource-div{
    padding-top: 20px;
}
#end-of-import-area-line{
    background-color: #E6E6E6;
    height: 5px;
    width: 100%;
}
#analysis-result-area{
    height: 1000px;
    display: none;
}
#analysis-result-main-col{
    padding: 20px 20px 20px 40px;
}
#process_btn{
    width: 100%;
    white-space: normal;
    font-size: 16px;
}

#process_btn > i{
    font-size: 24px !important;
}
.no_col_selcted_div{
    padding: 10px;
    text-align: center;
    margin-left: 25%;
    display: none;
}
.color-demo{
    width: 20px;
    height: 10px;
}

#one-click-color{
    display: inline-block;
    background-color: #96f9ff;
}

#two-click-color{
    display: inline-block;
    background-color: #a1fcb2;
}

.color-hint{
    margin-top: 10px;
    margin-left: 10%;
    font-weight: bold;
}