.site-footer{
    width: 100% !important;
    position:absolute;
    bottom:0;
    left:0;
}
.data-comparision-module{
    padding: 40px 200px 20px 20px;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-right: 0 !important;
    margin-left: 0 !important;
   
}
.browes-btn-div{
    padding-top: 20px;
    padding-left: 45%;
}

#end-of-import-area-line{
    background-color: #E6E6E6;
    height: 5px;
    width: 100%;
}
#analysis-result-area{
    /* padding: 20px 20px 20px 40px; */
    height: 500px;
}