#back_to_selection_btn{
    width: 100%;
    white-space: normal;
    font-size: 16px;
}

#back_to_selection_btn > i{
    font-size: 24px !important;
}
#s2id_xAxisColumn{
    width: 80%;
    margin-left: 10px;
}
