{% asset 'ckanext-data-comparision/table-css' %}
{% asset 'ckanext-data-comparision/table-js' %}

{% set resource_url = h.url_for('dataset_resource.read', resource_id=resource['id'], package_type=package['type'], id=package['id'], _external=True) %}
{% set res_id_addon = resource['id'] + '---' + sheet  %}
<div class="element-container-box  table-div">
     <div class="row close-table-column">
        <div class="col-sm-12">
            <button class="btn btn-sm btn-danger close_table_btn"><i class="fa fa-close"></i></button>
        </div>   
    </div>
    <div class="row text-center resource-name-div">
        <h3>
            {% if sheet != 'None' %}
                <a href="{{resource_url}}" target="_blank">
                    <b>{{resource['name']}} ({{sheet}})</b>
                </a>
            {% else %}
                <a href="{{resource_url}}" target="_blank">
                    <b>{{resource['name']}}</b>
                </a>
            {% endif %}
        </h3>
    </div>
    <div class="row pagination-area">
        <div class="col-sm-12">
            <button type="button" class="btn prev-btn" id="{{'page-prev-' ~ res_id_addon}}"><i class="fa fa-step-backward"></i></button>
            <input type="text" class="page-number" id="{{'page-number-' ~ res_id_addon}}" value="1" readonly>
            <input type="hidden" id="{{'page-number-max-' ~ res_id_addon}}" value="{{h.get_max_table_page_count( resource['id'], sheet)}}">
            <button type="button" class="btn next-btn" id="{{'page-next-' ~ res_id_addon}}"><i class="fa fa-step-forward"></i></button>
        </div>
    </div>
    <table class="data-comp-table" id="{{'data-table-' ~ res_id_addon}}">
        <thead>
            <tr class="dcom-table-header-row">
                {% for col in columns %}
                    <th class="dcom-table-cell dcom-table-header-cell {{'dcom-column-' ~ res_id_addon ~ '-' ~ loop.index}}" 
                            name="{{res_id_addon ~ '-' ~ loop.index}}">
                       {{col}}                                            
                    {% if h.get_column_anotation(resource['id'], col, sheet) == 'x' %}
                            <span class="column_x_axis_tag">X-axis</span>
                            <input 
                                type="checkbox" 
                                value="{{res_id_addon ~ '@_@' ~ col}}" 
                                name="chosen_columns" 
                                class="hidden-checkbox"
                                id="{{res_id_addon ~ '-' ~ loop.index}}"
                                checked="checked"
                            >
                            <input 
                                type="hidden"
                                value='1'
                                name='hidden_dbclick_checker'
                                class="hidden_dbclick_checker"
                                id="{{res_id_addon ~ '-' ~ loop.index ~ '-dbclick'}}"
                            >             
                    {% elif h.get_column_anotation(resource['id'], col, sheet) == 'y' %}
                            <span class="column_y_axis_tag">Y-axis</span>
                            <input 
                                type="checkbox" 
                                value="{{res_id_addon ~ '@_@' ~ col}}" 
                                name="chosen_columns" 
                                class="hidden-checkbox"
                                id="{{res_id_addon ~ '-' ~ loop.index}}"
                                checked="checked"
                            >
                            <input 
                                type="hidden"
                                value='2'
                                name='hidden_dbclick_checker'
                                class="hidden_dbclick_checker"
                                id="{{res_id_addon ~ '-' ~ loop.index ~ '-dbclick'}}"
                            >
                    {% else %}
                            <input 
                                type="checkbox" 
                                value="{{res_id_addon ~ '@_@' ~ col}}" 
                                name="chosen_columns" 
                                class="hidden-checkbox"
                                id="{{res_id_addon ~ '-' ~ loop.index}}"                                
                            >
                            <input 
                                type="hidden"
                                value='0'
                                name='hidden_dbclick_checker'
                                class="hidden_dbclick_checker"
                                id="{{res_id_addon ~ '-' ~ loop.index ~ '-dbclick'}}"
                            >

                    {% endif %}                    
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody id="{{'data-table-body-' ~ res_id_addon}}">
            {% for row in h.get_data(resource['id'], 1, sheet) %}
                <tr class="dcom-table-content-row">
                    {% for value in row %}
                        <td class="dcom-table-cell dcom-table-body-cell {{'dcom-column-' ~ res_id_addon ~ '-' ~ loop.index}}" 
                            name="{{res_id_addon ~ '-' ~ loop.index}}">{{value}}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>            
    </table>
</div>
