{% asset 'ckanext-data-comparision/table-css' %}
{% asset 'ckanext-data-comparision/table-js' %}

<div class="element-container-box  table-div">
    <div class="row pagination-area">
        <button type="button" class="btn prev-btn" id="{{'page-prev-' ~ resource['id']}}"><i class="fa fa-step-backward"></i></button>
        <input type="text" class="page-number" id="{{'page-number-' ~ resource['id']}}" value="1">
        <input type="hidden" id="{{'page-number-max-' ~ resource['id']}}" value="{{h.get_max_table_page_count( resource['id'])}}">
        <button type="button" class="btn next-btn" id="{{'page-next-' ~ resource['id']}}"><i class="fa fa-step-forward"></i></button>
    </div>
    <table class="data-comp-table" id="{{'data-table-' ~ resource['id']}}">
        <thead>
        <tr class="dcom-table-header-row">
            {% for col in h.get_columns(resource['id']) %}
            <th class="dcom-table-cell dcom-table-header-cell {{'dcom-column-' ~ resource['id'] ~ '-' ~ loop.index}}" 
                    name="{{resource['id'] ~ '-' ~ loop.index}}">
                {{col}}
            </th>
            <input 
                type="checkbox" 
                value="{{resource['id'] ~ '@_@' ~ col}}" 
                name="chosen_columns" 
                class="hidden-checkbox"
                id="{{resource['id'] ~ '-' ~ loop.index}}"
            >
            {% endfor %}
        </tr>
        </thead>
        <tbody id="{{'data-table-body-' ~ resource['id']}}">
        {% for row in h.get_data(resource['id'], 1) %}
            <tr class="dcom-table-content-row">
                {% for value in row %}
                <td class="dcom-table-cell dcom-table-body-cell {{'dcom-column-' ~ resource['id'] ~ '-' ~ loop.index}}" 
                    name="{{resource['id'] ~ '-' ~ loop.index}}">{{value}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>            
    </table>
</div>
