 {% if h.get_column_anotation(resource['id'], col, sheet) == 'x' %}
        <span class="column_x_axis_tag">X-axis</span>
        <input 
            type="checkbox" 
            value="{{res_id_addon ~ '@_@' ~ col}}" 
            name="chosen_columns" 
            class="hidden-checkbox"
            id="{{res_id_addon ~ '-' ~ loopIndex}}"
            checked="checked"
        >
        <input 
            type="hidden"
            value='2'
            name='hidden_dbclick_checker'
            class="hidden_dbclick_checker"
            id="{{res_id_addon ~ '-' ~ loopIndex ~ '-dbclick'}}"
        >
        <input type="hidden" annotatedCheckerInput="axis-is-annotated">             
{% elif h.get_column_anotation(resource['id'], col, sheet) == 'y' %}
        <span class="column_y_axis_tag">Y-axis</span>
        <input 
            type="checkbox" 
            value="{{res_id_addon ~ '@_@' ~ col}}" 
            name="chosen_columns" 
            class="hidden-checkbox"
            id="{{res_id_addon ~ '-' ~ loopIndex}}"
            checked="checked"
        >
        <input 
            type="hidden"
            value='1'
            name='hidden_dbclick_checker'
            class="hidden_dbclick_checker"
            id="{{res_id_addon ~ '-' ~ loopIndex ~ '-dbclick'}}"
        >
        <input type="hidden" annotatedCheckerInput="axis-is-annotated">
{% else %}
        <input 
            type="checkbox" 
            value="{{res_id_addon ~ '@_@' ~ col}}" 
            name="chosen_columns" 
            class="hidden-checkbox"
            id="{{res_id_addon ~ '-' ~ loopIndex}}"                                
        >
        <input 
            type="hidden"
            value='0'
            name='hidden_dbclick_checker'
            class="hidden_dbclick_checker"
            id="{{res_id_addon ~ '-' ~ loopIndex ~ '-dbclick'}}"
        >

{% endif %}         