{% asset 'ckanext-data-comparision/browes-css' %}
{% asset 'ckanext-data-comparision/browes-js' %}

{% set action_import = h.url_for('data_comparision.import_data', _external=True) %}
<input type="hidden" id="import_url" value="{{action_import}}">

<button id="modal-browes-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_data_modal">
  <i class="fa fa-plus" id="browes_btn"></i>{{_('Add Data')}}
</button>

<div class="modal fade" id="add_data_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{_('Please Add the target data columns')}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <ul id="browes_ul">
                    {% for dt in datasets %}
                        <li class="dataset-li">
                           <div class="dataset-box" id={{'dataset-box-' ~ loop.index}}>
                              <i class="fa fa-plus-square"></i> <b>{{dt.title}}</b> <span class="com-tag com-dataset-tag">Dataset</span>
                           </div> 
                        </li>
                            <ul class="nested resource-ul hidden-list" id={{'dataset-list-' ~ loop.index}}>
                                {% for res in dt.resources %}
                                    {% if h.is_csv(res) or h.is_xlsx(res) %}
                                        <li>
                                            <label class="checkbox-container" value={{res.id}} >{{res.name}} 
                                              <span class="com-tag com-resource-tag">data resource</span>
                                                <input type="checkbox" 
                                                class="resource-box"
                                                name="chosen_resources"  
                                                value={{res.id}}
                                                >
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>                    
                                    {% endif %}
                                {% endfor %}
                            </ul>
                    {% endfor %}
                </ul>
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{_('Close')}}</button>
        <button type="button" class="btn btn-primary" id="import-btn" data-dismiss="modal">{{_('Import')}}</button>
      </div>
    </div>
  </div>
</div>