<div class="row">
    <div class="col-sm-3 back-to-resource-div">
        <a href="{{action_go_back_resource}}" class="btn btn-secondary">
        <i class="fa fa-arrow-left"></i>
        {{_('Back to resource')}}                    
        </a>
    </div>
    <div class="col-sm-9 browes-btn-div">
        {% snippet 'snippets/data_comparision_browes.html', datasets=datasets %}
    </div>
</div>
<div id="import_loader">
    <div class="loader"></div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12 color-hint">
        Hint: In case your data is annotated by X-axis/Y-axis, you can directly plot your data without column selection.
    </div>
</div>

<div class="row">
    <div class="col-sm-12 color-hint">
    {{_('One click: selecting a column (Y-axis)')}} <div class="color-demo" id="one-click-color"></div>
    </div>
</div> 
<div class="row">
    <div class="col-sm-12 color-hint">                    
    {{_('Two clicks: selecting a column as the shared variable (X-axis)')}} <div class="color-demo" id="two-click-color"></div>                    
    </div>
</div>  