{% extends "package/resource_read.html" %}


{% block pre_primary %}
    {% asset 'ckanext-data-comparision/page-css' %}
    {% asset 'ckanext-data-comparision/page-js' %}

     <section class="module module-resource data-comparision-module" role="complementary">
       
        <table class="data-comp-table">
            <tr class="dcom-table-header-row">
              {% for col in h.get_columns(pkg_dict['id'], resource['id'], 'csv') %}
                <th class="dcom-table-cell dcom-table-header-cell {{'dcom-column-' ~ loop.index}}" name="{{'dcom-column-name-' ~ loop.index}}">
                  {{col}}
                </th>
                <input 
                  type="checkbox" 
                  value="{{resource['id'] ~ '@_@' ~ col}}" 
                  name="chosen_columns" 
                  class="hidden-checkbox"
                  id="{{resource['id'] ~ '@_@' ~ loop.index}}"
                >
              {% endfor %}
            </tr>
            {% for row in h.get_data(pkg_dict['id'], resource['id'], 'csv') %}
                <tr class="dcom-table-content-row">
                  {% for value in row %}
                    <td class="dcom-table-cell {{'dcom-column-' ~ loop.index}}" name="{{'dcom-column-name-' ~ loop.index}}">{{value}}</td>
                  {% endfor %}
                </tr>
            {% endfor %}
        
        
        </table>    


     </section>
{% endblock pre_primary %}

{% block primary %}{% endblock %}
{% block secondary_content %}{% endblock secondary_content %}