{% extends "package/resource_read.html" %}


{% block pre_primary %}
    {% asset 'ckanext-data-comparision/page-css' %}
    {% asset 'ckanext-data-comparision/page-js' %}
    {% set action_process = h.url_for('data_comparision.process_columns', _external=True) %}
    <input type="hidden" id="process_url" value="{{action_process}}">
     <div class="data-comparision-module" id="raw_tables_area">
        {# Start of a table #}
        <div class="table-div">
          <div class="row pagination-area">
              <button type="button" class="btn prev-btn" id="{{'page-prev-' ~ resource['id']}}"><i class="fa fa fa-step-backward"></i></button>
              <input type="text" class="page-number" id="{{'page-number-' ~ resource['id']}}" value="1">
              <button type="button" class="btn next-btn" id="{{'page-next-' ~ resource['id']}}"><i class="fa fa fa-step-forward"></i></button>
          </div>
          <table class="data-comp-table">
            <tr class="dcom-table-header-row">
              {% for col in h.get_columns(pkg_dict['id'], resource['id'], 'csv') %}
                <th class="dcom-table-cell dcom-table-header-cell {{'dcom-column-' ~ resource['id'] ~ '-' ~ loop.index}}" 
                      name="{{resource['id'] ~ '-' ~ loop.index}}">
                  {{col}}
                </th>
                <input 
                  type="checkbox" 
                  value="{{resource['id'] ~ '@_@' ~ col}}" 
                  name="chosen_columns" 
                  class="hidden-checkbox"
                  id="{{resource['id'] ~ '-' ~ loop.index}}"
                >
              {% endfor %}
            </tr>
            {% for row in h.get_data(pkg_dict['id'], resource['id'], 1, 'csv') %}
                <tr class="dcom-table-content-row">
                  {% for value in row %}
                    <td class="dcom-table-cell {{'dcom-column-' ~ resource['id'] ~ '-' ~ loop.index}}" 
                      name="{{resource['id'] ~ '-' ~ loop.index}}">{{value}}</td>
                  {% endfor %}
                </tr>
            {% endfor %}
          </table>
        </div>
        {# End of a table #}
        <div class="row browes-btn-div">
            {% snippet 'snippets/data_comparision_browes.html', 
              datasets=datasets
            %}
        </div>    
     </div>
      <div id="end-of-import-area-line"><div>
      <br>
      <div class="row">
          <div class="col-sm-12 text-center">
            <button class="btn btn-primary" type="button" id="process_btn">{{_('Process data')}}</button>
          </div>
      </div>
      <br>
      <hr>
      {# Result section starts #}
      <div class="row">
        <div class="col-sm-12" id="analysis-result-area">
            <div class="row text-center">
              <h2><b>{{_('Process Result')}}</b></h2>
            </div>

        </div>
      </div>



{% endblock pre_primary %}

{% block primary %}{% endblock %}
{% block secondary %}{% endblock  %}