{% ckan_extends %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
          integrity="sha512-z4PhNX7vuL3xVChQ1m2AB9Yg5AULVxXcg/SpIdNs6c5H0NE8XYXysP+DGNKHfuwvY7kxvUdBeoGlODJ6+SfaPg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {{ super() }}
{% endblock %}

{% block resource_actions_inner %}
    {% if not h.is_enabled("sfb_layout") %}
        {% set dest = h.url_for('data_comparision.base_view', package_name=pkg_dict['name'], resource_id=resource['id']) %}
        <a href="{{ dest }}" class="btn btn-primary">{{ _('Data Comparison') }}</a>
    {% endif %}
    {{ super() }}
{% endblock resource_actions_inner %}


{% block resource_content %}
    {{ super() }}
     {% if not h.is_enabled("sfb_layout") %}
        {% asset 'ckanext-data-comparision/resource-page-js' %}
        <input type="hidden" id="resource_plot_preview_url" value="{{ h.url_for('data_comparision.get_one_resource_plot_data', resource_id=resource['id']) }}">
        <div class="row"  id="analysis-result-area">
            <div class="col-sm-12" id="resource-preview-canvas-area">
                <div class="col-sm-4 plot-col-box">
                    <canvas id="resultPlot" width="300" height="200"></canvas>    
                </div>
            </div>              
        </div>
    {% endif %}

{% endblock resource_content %}
